body {
    font-family: 'Quicksand', sans-serif;
    text-transform: capitalize;
    width: 1440px;
    color: rgba(61, 79, 159, 1);

    margin: 0 auto;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

h1 {
    font-size: 48px;
    font-weight: 300;
    text-transform: none;
    line-height: 30px;
}

h2 {
    font-size: 36px;
    font-weight: 400;
    text-transform: none;
    line-height: 30px;
}

h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 20px;
    /* identical to box height */
    text-transform: none;

}

p {
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.03em;
    color: #8D96BD;
    text-transform: none;

}

h4 {
    font-weight: 500;
    font-size: 10px;
    line-height: 6px;
    /* identical to box height */
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* box-shadow: 0px 0px 5px 0px rgba(230, 230, 230, 1); */
    height: 80px;
    padding: 0 117px;
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-inline: initial;
    padding-right: 250px;
}

.bg-white {
    background-color: #fff;
}

.nav li a {
    color: #697CA6;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-align: center;
    padding: 20px;
}

.nav li a:hover {
    color: #5E81FE;
    font-weight: 700;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.social li a {
    fill: #697CA6;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-align: center;
    padding: 20px;

}

.social li a:hover {
    font-weight: 700;
    fill: #5E81FE;
}

.btn-menu {
    color: #5E81FE;
    background-color: rgba(210, 225, 255, 1);
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    padding: 13px 15px;
    border-radius: 2px;
}

.btn-menu:hover {
    color: #fff;
}

.bg-blue {
    background: #F5F8FF;
}

.hero-page {
    height: 570px;
}

.text-hero {
    text-align: center;
    position: absolute;
    left: 451px;
    top: 165px;
    z-index: 10;
}



.text-hero p {
    width: 502px;
    margin: 0 auto;
    padding-bottom: 20px;
}



.btn-play {
    border: 0;
    border-radius: 50%;
    background-color: #fff;
    padding: 21px 22px 18px 23px;
    box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);
}

.btn-play:hover {
    background-color: rgba(210, 225, 255, 1);
}

.vector {
    position: absolute;
    top: 185px;
}

.customers {
    height: 145px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 180px;
}

.manage {
    height: 776px;
    display: grid;
    grid-row: auto;
}

.text-manage {
    grid-row: 1;
    padding-top: 208px;
    padding-left: 200px;
}

.text-manage p {
    width: 413px;
}

.img-manage {
    grid-row: 1;
    padding-top: 170px;
}

.btn-flex {
    display: flex;
}

.btn-flex button {
    background: none;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    border: 1px solid #D1D1E4;
    padding: 13px 20px;
    color: rgba(173, 180, 210, 1);
    border-radius: 2px;
}

.btn-flex button:hover {
    background: rgba(76, 133, 255, 1);
    color: #fff;
    box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
    border: 1px solid rgba(76, 133, 255, 1);
}

.features {
    height: 543px;
    text-align: center;
    padding: 171px 0;
}

.cloud {
    position: absolute;
    left: 126px;
    top: 1690px;
}

.block-features {
    display: flex;
    justify-content: center;
    padding-top: 92px;
    gap: 20px;
}

.box-item {
    width: 150px;
}

.box-item b {
    color: #4074F8;
}

.box-item p {
    line-height: 20px;
}

.item {
    background: #F1F5FF;
    border: none;
    border-radius: 50%;
    width: 69px;
    height: 69px;
    /* padding: 18px 0; */
    margin: auto;
}

.box-item svg {
    margin-top: 26px;
}

.line {
    width: 28px;
    margin-top: 100px;
    height: 0;
    border: 1px solid #DAE4FE;
}

.btn-red {
    background: #FFD7D7;
    border-radius: 2px;
    color: #D43F3F;
}

.line-btn {
    width: 15px;
    height: 0px;
    border: 1px solid #DAE4FE;

}

.btn-place {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 90px;
    align-items: center;
    z-index: 5;
}

.stats {
    display: grid;
    grid-row: auto;
}

.block-percent {
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
    grid-row: 1;
    padding: 66px 0;
    color: #fff;

}

.block-percent p {
    color: #fff;
}

.block-number {
    background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
    grid-row: 1;
    padding: 66px 0;
    color: #4074F8;
}

.block-number p {
    color: #4074F8;
}

.stats-left {
    float: right;
    text-align: end;
    padding-right: 90px;
}

.stats-right {
    padding-left: 90px;
}

.bg-linear {
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
    padding: 109px 0 105px 0;
}

.blog h3 {
    margin-bottom: 92px;
}

.cards {
    display: flex;
    margin: 0 auto;
    width: 66%;
    padding: 63px 35px;
    gap: 67px;
}

.cards-image {
    display: grid;
    grid: 126px / auto auto;
    gap: 10px;
    /* grid-template-columns: 35% 30% */
}

.col-1 {
    grid-row: 1 / span 2;
}

.blog {
    text-align: center;
    padding-top: 104px !important;
    padding-bottom: 180px !important;
    position: relative;
}

/* .blog h4 {
    padding-top: 104px;
} */
.cards-text {
    text-align: start;
    word-wrap: break-word;
}

.cards-text div {
    padding-top: 31px;
}

.cards-text h2 {
    margin: 15px 0 32px 0;
}

.card-hidden {
    display: none;
}

.left {
    position: absolute;
    left: 5%;
    top: 50%;
}

.right {
    position: absolute;
    right: 5%;
    top: 50%;
}

.block-quotes {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.text-quotes {
    /* grid-row: 1; */
    text-align: start;
    width: 400px;
}

.quotes {
    position: relative;
    display: flex;
}

.quotes p {
    padding: 21px 48px;
}

.quotes img {
    width: 62px;
    border-radius: 50%;
    position: absolute;
    bottom: -25px;
    right: 45%;
}

.block {
    background: #fff;
    width: 423px;
    height: 175.37px;
    border: 1px solid #D8E3FE;
    box-shadow: 0px 5px 50px #F3F5FA;

}

.faq {
    width: 743px;
    margin: 0 auto;
}

.accordion {
    background-color: #fff;
    cursor: pointer;
    padding: 23px 18px;
    width: 743px;
    border: none;
    border-bottom: 1px solid #D8E3FE;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #8E96B7;
}

.active,
.accordion:hover {
    color: #495274;
}

.panel {
    padding: 10px 18px;
    display: none;
    background-color: #fff;
    overflow: hidden;
    text-align: start;
    align-items: center;
}

.faq img {
    padding-right: 24px;
}

.panel p {
    word-wrap: break-word;
    width: 391px;
}

.panel-btn {
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bg-liner-blue {
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
    position: relative;

}

.text-price {
    color: #fff;
    text-align: center;
    position: absolute;
    left: 364px;
    top: 70px;
}

.text-price p {
    color: #fff;
    width: 712px;
    margin: 0 auto;

}

.text-price button:hover {
    color: #565F82;
    background: #fff;
}

.text-price button {
    color: #C7D3FF;
    font-weight: 500;
}

.btn-place-price {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    align-items: center;
    z-index: 5;
}

.bg-subscribe {
    background: #FCFDFF;
    height: 332px;
}

.subscribe-form {
    gap: 10px;
}

.subscribe b {
    color: #3D4F9F;
    word-wrap: break-word;
}

.subscribe {
    padding-top: 118px;
}

.subscribe p {
    width: 330px;
}

.subscribe input {
    width: 260px;
    height: 59px;
    left: 686px;
    top: 5698px;
    background: #EFEFF7;
    border: #EFEFF7;
    border-radius: 5px;
    padding-left: 19px;
}

.subscribe-form button {
    color: #fff;
    width: 184px;
    height: 59px;
    left: 979px;
    top: 5698px;
    background: #4D6CE1;
    border: #4D6CE1;
    box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
    border-radius: 5px;
}

.subscribe-form button:hover {
    background: #6884e6;
}

.foot-nav {
    padding: 83px 0;
}

.copy {
    font-weight: 500;
    font-size: 12px;
    color: #AEB8D0;
    margin-left: 240px;
}

.svg-speed {
    position: absolute;
    left: 480px;
    top: 465px;
    z-index: 10;
}
.mySwiper .swiper-pagination {
    top: 88%;
}


 .mySwiper .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '' !important;
}
.mySwiper .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '' !important;
}